#contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 90%;
  max-width: 500px;
}

.form-field {
  color: white;
  width: 100%;
  font-size: 1.2em;
  margin-bottom: 20px;
  background-color: transparent;
  border: none;
  border-bottom: solid 2px rgba(255, 255, 255, 0.5);
  outline: none;
  resize: none;
  -webkit-transition: 250ms;
  -o-transition: 250ms;
  transition: 250ms;
}

.form-field::-webkit-input-placeholder,
.form-field::-moz-placeholder,
.form-field:-ms-input-placeholder,
.form-field::-ms-input-placeholder,
.form-field::placeholder {
  opacity: 0.7;
}

.form-field:-webkit-autofill,
.form-field:-webkit-autofill:hover,
.form-field:-webkit-autofill:focus,
.form-field:-webkit-autofill:active {
  -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
  -webkit-transition-delay: 9999s;
}

.form-field:focus {
  border-bottom: solid 2px white;
  -webkit-transition: 250ms;
  -o-transition: 250ms;
  transition: 250ms;
}

#form-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#clear-button,
#submit-button {
  color: white;
  width: 120px;
  background-color: transparent;
  border-radius: 20px;
  padding: 10px 20px;
  margin: 0 20px;
  font-weight: bold;
  cursor: pointer;
}

#clear-button {
  border: solid 3px rgba(200, 130, 130, 0.8);
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(50%, rgba(200, 130, 130, 0.8)),
    color-stop(50%, transparent)
  );
  background: -o-linear-gradient(
    left,
    rgba(200, 130, 130, 0.8) 50%,
    transparent 50%
  );
  background: linear-gradient(
    to right,
    rgba(200, 130, 130, 0.8) 50%,
    transparent 50%
  );
  background-size: 300% 100%;
  background-position: right bottom;
  -webkit-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

#submit-button {
  border: solid 3px rgba(130, 200, 130, 0.8);
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(50%, rgba(130, 200, 130, 0.8)),
    color-stop(50%, transparent)
  );
  background: -o-linear-gradient(
    left,
    rgba(130, 200, 130, 0.8) 50%,
    transparent 50%
  );
  background: linear-gradient(
    to right,
    rgba(130, 200, 130, 0.8) 50%,
    transparent 50%
  );
  background-size: 300% 100%;
  background-position: right bottom;
  -webkit-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

#clear-button:active,
#submit-button:active {
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
  -webkit-transition: 50ms;
  -o-transition: 50ms;
  transition: 50ms;
}

/* additions for non touch screen devices */
@media (any-pointer: fine) {
  #clear-button:hover,
  #submit-button:hover {
    background-position: left bottom;
  }
}
