
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;
    user-select: none;
  }
  
  .header a {
    color: white;
    font-size: 26px;
    text-decoration: none;
    margin: 5px;
  }
  
  #nametag {
    margin-left: 10px;
    margin-right: 20px;
    white-space: nowrap;
  }
  
  #nametag:hover,
  .header a:hover {
    color: rgb(130, 200, 130);
  }
  
  .section-tags-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid 1px white;
  }
  
  .active-section {
    color: rgb(130, 200, 130) !important;
    border-radius: 10px;
  }