/* DESKTOP */
@media (any-pointer: fine) {
  .headerD {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding: 0 60px;
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: rgba(30, 30, 30, 0.8);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }

  #nametag {
    font-weight: bold;
    font-size: 1.3em;
  }

  .section-headers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 40px;
    margin-left: 30px;
  }

  .section-headers:hover a {
    opacity: 0.3;
  }

  .section-headers a:hover {
    opacity: 1;
    -webkit-transform: 0;
    -ms-transform: 0;
    transform: 0;
  }

  .active-section {
    color: rgb(130, 200, 130) !important;
  }
}

/* MOBILE */
@media (any-pointer: coarse) {
  .menu-button-container {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1001;
    width: 50px;
    margin: 15px;
  }

  .bar1,
  .bar2,
  .bar3 {
    width: 35px;
    height: 3px;
    background-color: #ffffff;
    margin: 7px 0;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
  }

  /* Rotate first bar */
  .btn-active .bar1 {
    -webkit-transform: translate(0, 10px) rotate(-45deg);
    -ms-transform: translate(0, 10px) rotate(-45deg);
    transform: translate(0, 10px) rotate(-45deg);
  }

  /* Fade out the second bar */
  .btn-active .bar2 {
    opacity: 0;
  }

  /* Rotate last bar */
  .btn-active .bar3 {
    -webkit-transform: translate(0, -10px) rotate(45deg);
    -ms-transform: translate(0, -10px) rotate(45deg);
    transform: translate(0, -10px) rotate(45deg);
  }

  .menu-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    white-space: nowrap;
    background-color: rgba(40, 40, 45, 0.95);
  }

  .menu-container h3 {
    margin-left: 10%;
    margin-bottom: 50px;
  }

  .menu-container a {
    font-size: 2em;
    margin-left: 20px;
    margin-bottom: 10px;
  }

  .menu-active {
    -webkit-animation: slide-in-right 250ms linear forwards;
    animation: slide-in-right 250ms linear forwards;
  }

  .menu-inactive {
    -webkit-animation: slide-out-right 250ms linear forwards;
    animation: slide-out-right 250ms linear forwards;
  }

  @-webkit-keyframes slide-in-right {
    0% {
      width: 0;
    }
    100% {
      width: 100vw;
    }
  }

  @keyframes slide-in-right {
    0% {
      width: 0;
    }
    100% {
      width: 100vw;
    }
  }
  @-webkit-keyframes slide-out-right {
    0% {
      width: 100vw;
    }
    100% {
      width: 0;
    }
  }
  @keyframes slide-out-right {
    0% {
      width: 100vw;
    }
    100% {
      width: 0;
    }
  }

  #menu-container h2 {
    text-align: center;
  }
}
