/* MOBILE */

.headerM {
  pointer-events: none;
  position: fixed;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
}

.headerM * {
  pointer-events: all;
}

@media (min-width: 500px) {
  .headerM {
    display: none;
  }
}

.menu-button-container {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1001;
  width: 50px;
  margin: 15px;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 3px;
  background-color: #ffffff;
  margin: 7px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.btn-active .bar1 {
  transform: translate(0, 10px) rotate(-45deg);
}

/* Fade out the second bar */
.btn-active .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.btn-active .bar3 {
  transform: translate(0, -10px) rotate(45deg);
}

.menu-container {
  width: fit-content;
  height: fit-content;
  position: fixed;
  margin-left: 100vw;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.menu-container a {
  display: block;
  width: 100vw;
  height: 20vh;
  font-size: 2em;
  white-space: nowrap;
  background-color: rgb(40, 40, 45);
}

.menu-container a {
  background-color: unset;
  background: linear-gradient(
    to right,
    rgba(130, 200, 130, 1) 50%,
    rgb(40, 40, 45) 50%
  );
  background-size: 300% 100%;
  background-position: right bottom;
  transition: all 300ms ease-out;
}

.menu-container a:hover {
  color: black;
  background-position: left bottom;
}

.menu-active {
  animation: slide-in-right 250ms linear forwards;
}

.menu-inactive {
  animation: slide-out-right 250ms linear forwards;
}

@keyframes slide-in-right {
  0% {
    margin-left: 100vw;
  }
  100% {
    margin-left: 0;
  }
}

@keyframes slide-out-right {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: 100vw;
  }
}
