.section {
  height: 100vh;
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  word-wrap: normal;
  /*border: solid 1px white; */
}

.section p {
  font-size: 24px;
  line-height: 1.4;
  text-align: center;
}

.section-title {
  font-size: 48px;
  margin-bottom: 20px;
  color: white;
}

#home {
  background: url("../images/titlebg.png") no-repeat center center;
  background-size: cover;
  text-overflow: clip;
}

#nametag {
  position: absolute;
  top: 0;
  left: 0;
  margin: 15px 50px;
  color: rgb(130, 200, 130);
  white-space: nowrap;
  font-size: 30px;
  font-weight: bold;
}

#nametag:hover {
  opacity: .7;
}

#home h2 {
  font-size: 120px;
  font-weight: bolder;
  margin: 0;
  text-shadow: rgb(0, 0, 0) 0 4px 5px;
}

#home-content {
  font-size: 40px;
}

#about {
}

#about-content {
}

#skills {
}

#skills-content {
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.skills-icon {
  margin: 0 7%;
  width: 60px;
}

.skills-icon a {
  margin: 30% 0;
  height: fit-content;
  color: white;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skills-icon img {
  width: 60px;
  height: 60px;
  filter: drop-shadow(0px 8px 9px rgba(255, 255, 255, 0.3));
}

.skills-icon p {
  margin: 0;
  margin-top: 10px;
  font-size: 20px;
  text-overflow: clip;
}

/* additions for non touch screen devices */
@media (any-pointer: fine) {
  #skills-content {
    width: 80%;
  }

  .skills-icon {
    margin: 0 5%;
    flex: 0 1 calc(20% - 15%);
  }

  .skills-icon:hover {
    transform: scale(1.2);
    transform: 200ms;
  }

  .skills-icon p {
    font-size: 28px;
  }
}

#projects {
}

#projects-content {
}

#interests {
}

#interests-content {
}

#contact {
  height: 95vh;
}

#footer {
  height: 35vh;
  background-color: rgb(130, 200, 130);
}

#footer a:hover {
  border-bottom: solid 1px white;
}