.section {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 100vh;
  min-width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.section-title {
  max-width: 90%;
  position: relative;
  white-space: pre-wrap;
  margin-bottom: 30px;
  padding-bottom: 3px;
}

.section-title::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 45%;
  border-bottom: solid 4px rgb(115, 210, 115);
}

#home {
  padding-top: 0;
  background: url("../images/darktitlebg2.png") no-repeat center center;
  background-size: cover;
  -o-text-overflow: clip;
  text-overflow: clip;
  transition: background 300ms;
}

body.light-mode #home {
  background: url("../images/lighttitlebg2.png") no-repeat center center;
  background-size: cover;
}

.headerD {
  width: 100%;
  padding: 10px 20px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3em;
}

@media (max-width: 500px) {
  .headerD {
    display: none;
  }
}

.section-headers {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}

.section-headers a {
  transition: 100ms;
}

.section-headers a:hover {
  color: rgb(115, 210, 115);
}

.lightball-wrapper {
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
  height: fit-content;
}

.lightball {
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: rgb(246, 228, 168);
  box-shadow: rgb(253, 221, 115) 0 0 40px;
}

.lightball:nth-child(1) {
  bottom: 80px;
  right: 185px;
  transform: translate(-15px, 0);
  animation: side-to-side 7s ease-in-out infinite;
}

.lightball:nth-child(2) {
  top: 90px;
  left: 300px;
  transform: translate(15px, 0);
  animation: side-to-side2 7s ease-in-out 1s infinite;
}

@media (any-pointer: coarse) {
  .lightball:nth-child(1) {
    bottom: 20vh;
    right: 20vw;
  }
  .lightball:nth-child(2) {
    top: 25vh;
    left: 20vw;
  }
}

@keyframes side-to-side {
  0% {
    transform: translate(-15px, 0);
  }
  50% {
    transform: translate(15px, 0);
  }
}

@keyframes side-to-side2 {
  0% {
    transform: translate(15px, 0);
  }
  50% {
    transform: translate(-15px, 0);
  }
}

.scroll-down {
  position: absolute;
  bottom: 30px;
  height: 60px;
  width: 30px;
}

.arrow-container {
  position: absolute;
  bottom: 60px;
  height: 30px;
  opacity: 0;
  -webkit-animation: oscillate 1.5s ease-in-out infinite;
  animation: blinker-fade-in 500ms linear 4700ms forwards,
    oscillate 1.5s ease-in-out 5200ms infinite;
}

.arrow-down {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 10px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

@-webkit-keyframes oscillate {
  0% {
    opacity: 0.5;
    bottom: 60px;
  }
  50% {
    opacity: 1;
    bottom: 30px;
  }
  100% {
    opacity: 0.5;
    bottom: 60px;
  }
}

@keyframes oscillate {
  0% {
    opacity: 0.5;
    bottom: 60px;
  }
  50% {
    opacity: 1;
    bottom: 30px;
  }
  100% {
    opacity: 0.5;
    bottom: 60px;
  }
}

@media (any-pointer: coarse) {
  #nametag {
    position: absolute;
    top: 0;
    left: 0;
    margin: 20px;
    font-weight: bold;
    font-size: 1.3em;
  }
}

.theme-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 30px;
  right: 30px;
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 50%;
  box-shadow: none;
  background-color: white;
  filter: invert(0);
  animation: icon-spin-dark 300ms linear forwards;
}

.theme-button img {
  width: 50px;
  height: 50px;
}

.theme-button.light-mode {
  animation: icon-spin-light 300ms linear forwards;
}

@keyframes icon-spin-dark {
  0% {
    rotate: 0;
    filter: invert(0);
  }
  50% {
    rotate: -180deg;
  }
  100% {
    rotate: -360deg;
    filter: invert(1);
  }
}

@keyframes icon-spin-light {
  0% {
    rotate: 0;
    filter: invert(1);
  }
  50% {
    rotate: 180deg;
  }
  100% {
    rotate: 360deg;
    filter: invert(0);
  }
}

#about {
}

#about-content {
}

#skills {
}

#skills-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.skills-category-wrapper {
  width: 400px;
  max-width: calc(90vw - 20px);
  min-height: 280px;
  padding: 20px;
  background-color: rgb(30, 30, 30);
  border: solid 2px rgb(115, 210, 115);
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(115, 210, 115, 1);
}

.skills-category-wrapper:hover {
  box-shadow: 0 0 20px rgba(115, 210, 115, 1);
}

.skill-category-title {
  text-align: center;
}

.skills-category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.skills-icon {
  margin: 0 7%;
  width: 60px;
  -webkit-filter: drop-shadow(0px 8px 9px rgba(255, 255, 255, 0.3));
  filter: drop-shadow(0px 8px 9px rgba(255, 255, 255, 0.3));
}

body.light-mode .skills-icon {
  -webkit-filter: none;
  filter: none;
}

.skills-icon a {
  margin: 30% 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.skills-icon img {
  width: 60px;
  height: 60px;
}

.skills-icon p {
  margin-top: 10px;
  -o-text-overflow: clip;
  text-overflow: clip;
}

/* additions for non touch screen devices */
@media (any-pointer: fine) {
  .skills-icon {
    margin: 0 5%;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 5%;
    flex: 0 1 5%;
    transition: 200ms;
  }

  .skills-icon:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: 200ms;
    -ms-transition: 200ms;
    transition: 200ms;
  }
}

#projects {
}

.projects-container {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, 1fr);
  grid-template-rows: repeat(auto-fill, 1fr);
  gap: 20px;
}

@media (any-pointer: fine) and (min-width: 1100px) {
  .project-item:nth-child(3) {
    height: 100%;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / 3;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3 / 4;
  }

  .project-item:nth-child(5) {
    width: 100%;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
  }
}

.project-item {
  position: relative;
  width: 350px;
  height: 350px;
  background-color: rgb(30, 30, 30);
  border-radius: 7px;
  overflow: hidden;
}

.project-item img {
  display: block;
  width: 100%;
  height: calc(100% - 300px * 0.3);
}

.project-text-wrapper {
  width: 100%;
  height: calc(300px * 0.3);
  padding-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.project-item:hover .project-desc {
  -webkit-animation: slide-in 250ms linear forwards;
  animation: slide-in 250ms linear forwards;
}

.project-desc {
  position: absolute;
  right: calc(100% - 4px);
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  width: 100%;
  height: calc(100% - 300px * 0.3);
  background-color: rgb(115, 210, 115);
  -webkit-animation: slide-out 250ms;
  animation: slide-out 250ms;
}

.project-desc p {
  padding: 15px;
  text-align: start;
}

.project-desc a {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 10px 15px;
  border-radius: 10px 0 0 0;
  background-color: rgb(30, 30, 30);
}

.project-desc a:hover {
  text-decoration: underline;
}

@-webkit-keyframes slide-in {
  from {
    right: calc(100% - 4px);
  }
  to {
    right: 0;
  }
}

@keyframes slide-in {
  from {
    right: calc(100% - 4px);
  }
  to {
    right: 0;
  }
}

@-webkit-keyframes slide-out {
  from {
    right: 0;
  }
  to {
    right: calc(100% - 4px);
  }
}

@keyframes slide-out {
  from {
    right: 0;
  }
  to {
    right: calc(100% - 4px);
  }
}

#contact {
  height: 97vh;
  min-height: 0;
}

#contact .section-title::after {
  content: "!";
}

#footer {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 35vh !important;
  background-color: rgb(30, 30, 30);
}

.footer-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.footer-left,
.footer-right {
  width: 300px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 15px;
}

@media only screen and (min-width: 600px) {
  .footer-left {
    border-right: solid 2px white;
  }
  .footer-right {
    border-left: solid 2px white;
  }
}

@media only screen and (max-width: 600px) {
  .footer-left {
    border-bottom: solid 2px white;
  }
  .footer-right {
    border-top: solid 2px white;
  }
}

.footer-link:hover {
  color: rgb(115, 210, 115);
}
