.section {
  height: fit-content;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  word-wrap: normal;
  /*border: solid 1px white; */
}

.section p {
  font-size: 24px;
  line-height: 1.4;
  text-align: center;
}

.section-title {
  font-size: 48px;
  margin-bottom: 20px;
  color: white;
}

#home {
  background: url("../images/titlebg.png") no-repeat center center;
  background-size: cover;
  text-overflow: clip;
}

#nametag {
  position: absolute;
  top: 0;
  left: 0;
  margin: 15px 50px;
  color: rgb(115, 210, 115);
  white-space: nowrap;
  font-size: 30px;
  font-weight: bold;
}

#nametag:hover {
  opacity: 0.7;
}

#home h2 {
  font-size: 120px;
  font-weight: bolder;
  margin: 0;
  text-shadow: rgb(0, 0, 0) 0 4px 5px;
}

#home-content {
  font-size: 40px;
}

#about {
}

#about-content {
}

#skills {
}

#skills-content {
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.skills-icon {
  margin: 0 7%;
  width: 60px;
}

.skills-icon a {
  margin: 30% 0;
  height: fit-content;
  color: white;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skills-icon img {
  width: 60px;
  height: 60px;
  filter: drop-shadow(0px 8px 9px rgba(255, 255, 255, 0.3));
}

.skills-icon p {
  margin: 0;
  margin-top: 10px;
  font-size: 20px;
  text-overflow: clip;
}

/* additions for non touch screen devices */
@media (any-pointer: fine) {
  #skills-content {
    width: 80%;
  }

  .skills-icon {
    margin: 0 5%;
    flex: 0 1 calc(20% - 15%);
  }

  .skills-icon:hover {
    transform: scale(1.2);
    transform: 200ms;
  }

  .skills-icon p {
    font-size: 28px;
  }
}

#projects {
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 1fr);
  grid-template-rows: repeat(auto-fill, 1fr);
  gap: 20px;
}


@media (any-pointer: fine) {
  .project-item:nth-child(3) {
    height: 100%;
    grid-row: 1 / 3;
    grid-column: 3 / 4;
  }

  .project-item:nth-child(5) {
    width: 100%;
    grid-row: 3 / 4;
    grid-column: 1 / 3;
  }
}


.project-item {
  position: relative;
  width: 400px;
  height: 400px;
  background-color: rgb(30, 30, 30);
  border-radius: 10px;
  overflow: hidden;
}

.project-item img {
  display: block;
  width: 100%;
  height: calc(100% - 300px * .3);
  margin: 0;
}

.project-text-wrapper {
  width: 100%;
  height: calc(300px * .3);
  margin: 0;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.project-text-wrapper * {
  margin: 0;
}

.project-text-wrapper p {
  font-size: 18px;
}


.project-item:hover .project-desc {
  animation: slide-in 250ms linear forwards;
}

.project-desc {
  position: absolute;
  right: calc(100% - 4px);
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 0;
  width: 100%;
  height: calc(100% - 300px * .3);
  background-color: rgb(115, 210, 115);
  animation: slide-out 250ms;
}

.project-desc p {
  font-size: 22px;
  padding: 15px;
  text-align: start;
}

.project-desc a {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 20px;
}

.project-desc a:hover {
  text-decoration: underline;
}

@keyframes slide-in {
  from {
    right: calc(100% - 4px);;
  }
  to {
    right: 0;
  }
}

@keyframes slide-out {
  from {
    right: 0;
  }
  to {
    right: calc(100% - 4px);;
  }
}

#interests {
}

#interests-content {
}

#contact {
  height: 95vh;
  min-height: 0;
}

#footer {
  height: fit-content;
  min-height: 35vh !important;
  background-color: rgb(115, 210, 115);
}

#footer a {
  border-bottom: solid 2px transparent;
}

#footer a:hover {
  border-bottom: solid 2px white;
}
