@import 'variables.css';

#about {
    background-color: var(--black-grey);
    height: 60%;
    min-width: fit-content;
}

#about * {
    color: white;
}

.about-container {
    margin: auto;
    position: relative;
    top: 10%;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}


#about .sec-title {
    text-align: center;
    width: 70%;
    font-size: 2rem;
}

#about p {
    text-align: center;
    width: 70%;
    font-size: 1.25rem;
}