@import 'variables.css';

#about {
    background-color: var(--secondary-clr);
    height: fit-content;
    padding-top: 40px;
    padding-bottom: 100px;
}

.about-container {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about-content {
    position: relative;
    margin: auto;
    width: 80%;
    max-width: 800px;
    color: black;
    word-wrap: normal;
}