#skills {
}

#skills-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.skills-category-wrapper {
  width: 400px;
  max-width: calc(90vw - 20px);
  min-height: 280px;
  padding: 20px;
  background-color: rgb(30, 30, 30);
  border: solid 2px rgb(115, 210, 115);
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(115, 210, 115, 1);
}

.skills-category-wrapper:hover {
  box-shadow: 0 0 20px rgba(115, 210, 115, 1);
}

.skill-category-title {
  text-align: center;
}

.skills-category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.skills-icon {
  margin: 0 7%;
  width: 60px;
  -webkit-filter: drop-shadow(0px 8px 9px rgba(255, 255, 255, 0.3));
  filter: drop-shadow(0px 8px 9px rgba(255, 255, 255, 0.3));
}

body.light-mode .skills-icon {
  -webkit-filter: none;
  filter: none;
}

.skills-icon a {
  margin: 30% 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.skills-icon img {
  width: 60px;
  height: 60px;
}

.skills-icon p {
  margin-top: 10px;
  -o-text-overflow: clip;
  text-overflow: clip;
}

/* additions for non touch screen devices */
@media (any-pointer: fine) {
  .skills-icon {
    margin: 0 5%;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 5%;
    flex: 0 1 5%;
    transition: 200ms;
  }

  .skills-icon:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: 200ms;
    -ms-transition: 200ms;
    transition: 200ms;
  }
}
