#progressContainer {
  position: fixed;
  top: 50%;
  transform: translate(0, -50%);
  right: 3%;
  height: 300px;
  z-index: 1000;
  width: 5px;
  align-items: center;
  background-color: rgb(130, 200, 130);
  border-radius: 5px;
}

#progressDot {
  position: absolute;
  top: 0;
  width: 10px;
  height: 10px;
  transform: translate(-25%, 0);
  background-color: white;
  border-radius: 50%;
}

.section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  word-wrap: normal;
  /*border: solid 1px white; */
}

.section p {
  font-size: 24px;
  line-height: 1.4;
  text-align: center;
}

.section-title {
  font-size: 48px;
  margin-bottom: 20px;
  color: white;
}

#home {
  text-overflow: clip;
}

#home h2 {
  font-size: 100px;
  margin: 0;
  text-shadow: rgb(0, 0, 0) 0 4px 5px;
}

#home p {
  font-size: 40px;
}

#home-content {
}

#about {
}

#about-content {
}

#skills {
}

#spinners-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.spinner {
  width: 300px;
  height: 300px;
  position: relative;
}

.spinner-text {
  text-align: center;
  color: white;
  text-overflow: clip;
  font-size: 2em;
}

#skills-icon-container {
  animation: spin 30s linear infinite;
}

.skills-icon {
  width: 60px;
  height: 60px;
  text-align: center;
  position: absolute;
  transform: translate(-50%, -50%);
  animation: counter-spin 30s linear infinite;
}

/* [x0 + rcos(2kpi/n), y0 + rsin(2kpi/n)] */
.skills-icon:nth-child(1) {
  translate: calc(cos(2 * 1 * (22/7) / 6) * 200px) calc(sin(2 * 1 * (22/7) / 6) * 200px);
}

.skills-icon:nth-child(2) {
  translate: calc(cos(2 * 2 * (22/7) / 6) * 200px) calc(sin(2 * 2 * (22/7) / 6) * 200px);
}

.skills-icon:nth-child(3) {
  translate: calc(cos(2 * 3 * (22/7) / 6) * 200px) calc(sin(2 * 3 * (22/7) / 6) * 200px);
}

.skills-icon:nth-child(4) {
  translate: calc(cos(2 * 4 * (22/7) / 6) * 200px) calc(sin(2 * 4 * (22/7) / 6) * 200px);
}

.skills-icon:nth-child(5) {
  translate: calc(cos(2 * 5 * (22/7) / 6) * 200px) calc(sin(2 * 5 * (22/7) / 6) * 200px);
}

.skills-icon:nth-child(6) {
  translate: calc(cos(2 * 6 * (22/7) / 6) * 200px) calc(sin(2 * 6 * (22/7) / 6) * 200px);
}

.skills-icon a {
  color: white;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skills-icon img {
  width: 100%;
  height: 100%;
  filter: drop-shadow(0px 8px 9px rgba(255, 255, 255, 0.3));
}

.skills-icon p {
  margin: 0px;
  margin-top: 10px;
  font-size: 20px;
  text-overflow: clip;
  color: white;
}

@keyframes spin {
  from {
      transform: translate(-50%, -50%) rotate(0deg);
  }

  to {
      transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes counter-spin {
  from {
      transform: translate(-50%, -50%) rotate(0deg);
  }

  to {
      transform: translate(-50%, -50%) rotate(-360deg);
  }
}

/* additions for non touch screen devices */
@media (any-pointer: fine) {
  #skills-content {
    width: 80%;
  }

  .skills-icon {
    margin: 0 5%;
    flex: 0 1 calc(20% - 15%);
  }

  .skills-icon:hover {
    transform: scale(1.2);
    transform: 200ms;
  }

  .skills-icon p {
    font-size: 28px;
  }
}

#projects {
}

#projects-content {
}

#interests {
}

#interests-content {
}

#contact {
  margin-bottom: 0;
}
