#banner-container {
  width: 100%;
  max-width: 800px;
  height: calc(70vh - 50px);
  margin-top: 15px;
  justify-content: center;
  background: linear-gradient(to right, white 4px, transparent 4px) 0 0,
    linear-gradient(to right, white 4px, transparent 4px) 0 100%,
    linear-gradient(to left, white 4px, transparent 4px) 100% 0,
    linear-gradient(to left, white 4px, transparent 4px) 100% 100%,
    linear-gradient(to bottom, white 4px, transparent 4px) 0 0,
    linear-gradient(to bottom, white 4px, transparent 4px) 100% 0,
    linear-gradient(to top, white 4px, transparent 4px) 0 100%,
    linear-gradient(to top, white 4px, transparent 4px) 100% 100%;
  background-repeat: no-repeat;
  background-size: 150px 150px;
  padding: 30px;
  overflow-y: auto;
}

#banner-container::-webkit-scrollbar {
  width: 0;
}

.banner-card {
  display: none;
  margin: 8px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  white-space: normal;
}

.focused-banner {
  display: inline;
}

.title {
  text-align: center;
  font-size: 40px;
  text-shadow: 0 0 5px rgb(255, 255, 255);
}

.content {
  font-size: 25px;
}
