.banner-page {
  height: 100vh;
  font-family: Rajdhani, sans-serif;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  border-bottom: 3px solid white;
}

#title {
  font-size: 60px;
  font-weight: 600;
  margin: auto;
}

#subtitle {
  font-size: 26px;
}
