#banner-container {
  margin-top: 8vh;
  margin-bottom: 8vh;
  margin-left: 15vw;
  margin-right: 15vw;
  justify-content: center;
  border: 1px solid white;
  border-radius: 10px;
}

#frame {
  
}

#banner-card {
  margin: 8px;
  transform: translate(0, -25%);
  text-align: center;
}

#title {  
  font-size: 60px;
  text-shadow: 0 0 5px rgb(255, 255, 255);
}

#subtitle {
  font-size: 26px;
}

/* <-BANNER */
