:root {
    --darkgreen: #071803;
    --gold: #d8b038;
    --black: #080808;
    --white: #ffff;
    --offwhite: #fff9ea;
    --grey: #919191;
    --darkgrey: #1b1919;
    --aqua: #186c88;
    --beige: #faf3dd;
}