#footer {
    display: flex;
    height: fit-content;
    background-color: var(--darkgrey);
    min-height: 200px;
}

.footer-wrapper {
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.footer-wrapper * {
    color: white;
    border-color: white;
}

.footer-left,
.footer-right {
    width: 300px;
    height: 150px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 15px;
}

.footer-link {
    position: relative;
    padding: 0 4px;

    &::before {
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        text-align: center;
        background-color: white;
        width: 0;
        transition: width 250ms;
        height: 100%;
        overflow: hidden;
    }

    &:hover::before {
        width: 100%;
    }
}

.footer-left span {
    position: relative;
    transition: color 250ms;

    &:hover {
        color: black;
    }
}


@media only screen and (min-width: 600px) {
    .footer-left {
        border-right: solid 2px;
    }

    .footer-right {
        border-left: solid 2px;
    }
}

@media only screen and (max-width: 600px) {
    .footer-left {
        border-bottom: solid 2px;
    }

    .footer-right {
        border-top: solid 2px;
    }
}