#footer-container {
  position: absolute;
  height: 40px;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, rgb(30, 30, 35), rgb(50, 50, 50));
  transition: .75s;
  overflow: hidden;
}

#footer-container:hover {
  height: 100px;
  transition: .75s;
  box-shadow: 0 0 10px rgba(200, 200, 200, .7);
}

#footer-bar {
  width: 30px;
  height: 40px;
  padding-left: 50%;
  padding-right: 50%;
  filter: invert(1);
}

#footer-links-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}