#footer-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  background: linear-gradient(to bottom, rgb(30, 30, 35), rgb(45, 45, 50));
  transition: 700ms;
  overflow: hidden;
}

#footer-container:hover {
  height: 18vh;
  transition: 700ms;
  box-shadow: 0 0 10px rgba(200, 200, 200, .7);
}

#footer-bar-icon {
  width: 30px;
  height: 50px;
  padding-left: 50%;
  padding-right: 50%;
  filter: invert(1);
  transform: translate(-15px);
}

#footer-links-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
