@import 'colors.css';

* {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    text-decoration: none;
    color: var(--black);
    word-wrap: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100vw !important;
    height: 100vh !important;
    min-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/* ::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background: var(--black);
} */

section {
    position: relative;
    width: 100%;
    height: 100%;
}

.sec-title {
    height: 60px;
    display: inline-block;
    padding: 10px;
    margin-top: 40px;
    margin-left: 10%;
    margin-bottom: 80px;
    color: black;
    font-size: 2rem;
    font-weight: 600;
    border-left: solid 2px var(--aqua);
    border-bottom: solid 2px var(--aqua);
}

.highlight {
    font-size: inherit;
    font-weight: inherit;
    animation: highlight-anim 500ms linear forwards;
}

@keyframes highlight-anim {
    0% {
        color: inherit;
    }

    100% {
        color: var(--aqua)
    }
}