@import 'colors.css';

* {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    text-decoration: none;
    color: var(--black);
    word-wrap: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    scroll-behavior: smooth;
}

/* ::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background: var(--black);
} */

section {
    position: relative;
    width: 100%;
    height: 100%;
}

.sec-title {
    margin-bottom: 20px;
    color: var(--aqua);
    text-align: center;
    font-size: 2.4rem;
    font-weight: 600;
}

.highlight {
    font-size: inherit;
    font-weight: inherit;
    color: var(--aqua);
}