.header {
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(rgb(40, 40, 40), rgb(50, 50, 50));
}

#logo-img {
  width: 24px;
  filter: invert(1);
}

#header-button-container {
  width: 800px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.header-button {
  background-color: transparent;
  font-family: Rajdhani, sans-serif;
  font-size: 20px;
  color: white;
  border: none;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.header-button:hover {
  box-shadow: inset 0 0 15px rgb(70, 70, 70);
  cursor: pointer;
}

#hamburger-menu-icon {
  width: 24px;
  padding: 5px;
  margin-left: 15px;
  border-radius: 5px;
  filter: invert(1);
  transform: scaleX(-1);
}

#hamburger-menu-icon:hover {
  box-shadow: inset 0 0 15px rgb(70, 70, 70);
}
