.header {
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    background-color:  rgba(214, 168, 4, 1);
    border-bottom: 1px solid white;
  }

  #hamburger-menu {
    width: 20px;
    padding: 3px;
    margin-left: 15px;
  }

  #hamburger-menu:hover {
    cursor: pointer;
    box-shadow: inset 0 0 10px grey;
  }