@import 'colors.css';

#home {
    background-color: white;
}

#logo {
    position: absolute;
    left: 50px;
    margin-top: 30px;
    color: var(--aqua);
    font-size: 1.2rem;
    font-weight: 600;
}

#header {
    position: absolute;
    right: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding: 30px;
}

#header a {
    color: var(--aqua);
    font-size: 1.2rem;
    font-weight: 600;
}

.content-container {
    position: absolute;
    top: 50%;
    left: 10%;
    translate: 0 -50%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    text-wrap: wrap;
}

@media (orientation: portrait) {
    .content-container {
        left: 0;
        padding: 0 30px;
    }

}

#nametag {
    translate: -3px 0;
    color: black;
    font-size: 4rem;
    font-weight: 600;
    padding-bottom: 6px;
}

#nametag::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    width: 38%;
    margin-left: 4px;
    border-bottom: solid 3px var(--aqua);
    animation: expand-nametag 1s ease-out forwards;
}

#nametag .highlight {
    color: black;
    animation-duration: 250ms;
    animation-delay: 350ms;
}

@keyframes expand-nametag {
    0% {
        width: 0%;
    }

    100% {
        width: 38%;
    }
}

.wave {
    translate: 0 -5px;
    font-size: 3.5rem;
    animation: wave-animation 2.5s 1s infinite linear;
    transform-origin: 70% 70%;
    display: inline-block;
}

@keyframes wave-animation {
    0% {
        transform: rotate(0.0deg)
    }

    10% {
        transform: rotate(14.0deg)
    }

    /* The following five values can be played with to make the waving more or less extreme */
    20% {
        transform: rotate(-8.0deg)
    }

    30% {
        transform: rotate(14.0deg)
    }

    40% {
        transform: rotate(-4.0deg)
    }

    50% {
        transform: rotate(10.0deg)
    }

    60% {
        transform: rotate(0.0deg)
    }

    /* Reset for the last half to pause */
    100% {
        transform: rotate(0.0deg)
    }
}

#description {
    margin-top: 20px;
    max-width: 600px;
    color: rgb(85, 85, 85);
    font-size: 1.5rem;
    font-weight: 600;
}

#resume-button {
    margin-top: 40px;
    padding: 10px 20px;
    background-color: var(--aqua);
    transition: 400ms;
}

#resume-button span {
    color: white;
    transition: inherit;
}

#resume-button:hover {
    background-color: white;
}

#resume-button:hover span {
    color: black;
}

#resume-button.partial-border-hover:hover::before,
#resume-button.partial-border-hover:hover::after {
    border-color: var(--aqua);
}