#projects {
    padding: 150px 0;
    background-color: var(--darkgrey);
    height: fit-content;
}

.projects-container {
    padding: 0 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.project-card {
    width: 400px;
    height: 300px;
    border-radius: 10px;
    background-color: var(--offwhite);
}