@import 'colors.css';

#skills {
    background-color: var(--greywhite);
    height: fit-content;
    padding-top: 32px;
    padding-bottom: 64px;
}

#skills .sec-title {
    z-index: 1;
    position: relative;
}

.skills-container {
    margin: 0 auto;
    width: 100%;
    padding: 0 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;
    justify-content: center;
    gap: 40px;
}

.skills-container .recolor {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    background-color: var(--greywhite);
}

.skills-card {
    z-index: 1;
    width: 500px;
    height: fit-content;
    padding: 48px;
    padding-top: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background-color: white;
    border: solid 1px lightgray;
}

.skills-title-icon {
    width: 60px;
    height: 60px;
    padding: 24px;
    background-color: white;
    filter: invert(1);
    border-radius: 50%;
}

.card-title {
    margin-top: 16px;
    margin-bottom: 32px;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
}

.icon-container {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;
    justify-content: center;
    gap: 50px;
}

.skills-icon {
    width: 60px;
    transition: transform 300ms;
}

.skills-icon a {
    height: fit-content;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skills-icon img {
    display: block;
    width: 60px;
    height: 60px;
    filter: drop-shadow(0px 4px 4px rgb(112, 112, 112));
}

.skills-icon p {
    margin-top: 8px;
    text-align: center;
    text-overflow: clip;
}

/* additions for non touch screen devices */
@media (any-pointer: fine) {
    .skills-icon a {
        cursor: pointer;
    }

    .skills-icon:hover {
        transform: scale(1.2);
    }
}