@import 'colors.css';

#skills {
    background-color: white;
    height: fit-content;
    padding-bottom: 30px;
}

#skills .sec-title {
    z-index: 1;
    position: relative;
    color: white
}

.skills-container {
    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(190, 182, 219, 0.4);
}

.skills-container .recolor {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200px;
    background-color: #114b5f;
}

.skills-card {
    z-index: 1;
    height: fit-content;
    min-height: 800px;
    padding: 40px;
    flex-basis: 400px;
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background-color: var(--white);
}

#card1 {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

#card2 {
    border: none;
    border-left: solid 1px lightgray;
    border-right: solid 1px lightgray;
}

#card3 {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

@media (max-width: 780px) {
    .skills-container {
        flex-wrap: wrap;
    }

    .skills-card {
        flex-basis: 1;
    }

    #card1 {
        border: none;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 0;
    }

    #card2 {
        border: none;
        border-top: solid 1px lightgray;
        border-bottom: solid 1px lightgray;
    }

    #card3 {
        border: none;
        border-bottom-left-radius: 20px;
        border-top-right-radius: 0;
    }
}

.skills-title-icon {
    width: 80px;
    height: 80px;
    padding: 20px;
    background-color: var(--white);
    filter: invert(1);
    border-radius: 50%;
}

.card-title {
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
}

.icon-container {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;
    justify-content: center;
}

.skills-icon {
    margin: 3% 10%;
    width: 60px;
    transition: 300ms;
}

.skills-icon a {
    height: fit-content;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skills-icon img {
    display: block;
    width: 60px;
    height: 60px;
    filter: drop-shadow(0px 4px 4px rgb(112, 112, 112));
}

.skills-icon p {
    margin-top: 10px;
    text-align: center;
    text-overflow: clip;
}

/* additions for non touch screen devices */
@media (any-pointer: fine) {
    .skills-icon a {
        cursor: pointer;
    }

    .skills-icon:hover {
        transform: scale(1.2);
    }
}