.banner {
  font-family: Rajdhani, sans-serif;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0px;
}

#title {
    font-size: 30px;
    width: 300px;
    border: solid;
    border-width: 2px;
    border-radius: 15px;
    margin: auto;
}

#subtitle {
    font-size: 26px;
}

p {
  font-family: Rajdhani, sans-serif;
  margin-top: 0;
  margin-bottom: 0px;
}
